In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
#from api_keys import g_key

In [7]:
#Load the csv exported in Part I to a DataFrame
city_data_df = pd.read_csv(r'C:\Users\katma\city_data.csv')
city_data_df.head(10)

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,0,Iqaluit,63.7506,-68.5145,14.70,78,100,19.57
1,1,Albany,42.6001,-73.9662,35.83,70,15,4.00
2,2,Saint-Pierre,-21.3393,55.4781,80.60,55,0,3.44
3,3,Port Alfred,-33.5906,26.8910,63.54,47,0,6.69
4,4,Luanda,-8.8368,13.2343,75.20,94,75,4.61
5,5,Norman Wells,65.2820,-126.8329,32.04,69,75,6.91
6,6,East London,-33.0153,27.9116,50.94,93,0,5.75
7,7,Punta Arenas,-53.1500,-70.9167,33.91,75,40,17.27
8,8,Usinsk,65.9939,57.5281,24.48,64,7,7.58
9,9,Carnarvon,-24.8667,113.6333,75.27,57,14,17.27

In [8]:
#Configure gmaps.
gmaps.configure(api_key="AIzaSyAsEngxGyNHAoKD0PTsa7rQKuHugWJqHD8")

#Use the Lat and Lng as locations and Humidity as the weight.
locations = city_data_df[["Latitude", "Longitude"]].astype(float)
humidity_per = city_data_df["Humidity"].astype(float)

#Add Heatmap layer to map.
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_per, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Narrow down the cities to fit weather conditions.
temp_data_df = city_data_df.loc[(city_data_df['Temperature']<=85) & (city_data_df['Temperature']>=75),:]
humidity_df = temp_data_df.loc[(temp_data_df['Humidity']==70),:]
ideal_cond_df = humidity_df.loc[humidity_df['Cloudiness']<100,:]

ideal_cond_df.head(10)

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
116,116,Bubaque,11.2833,-15.8333,77.11,70,63,5.14
144,144,Kulhudhuffushi,6.6221,73.0700,84.72,70,79,1.92
187,187,Mareeba,-17.0000,145.4333,83.34,70,73,6.15
239,239,Kahului,20.8947,-156.4700,77.76,70,40,5.99
290,290,Cap Malheureux,-19.9842,57.6142,82.47,70,2,1.99
444,444,Gizo Government Station,-8.1030,156.8419,84.83,70,63,1.19
492,492,Grand Gaube,-20.0064,57.6608,82.38,70,2,1.99
533,533,Mahibadhoo,3.7833,72.9667,84.87,70,37,5.30

In [14]:
#Hotel Map

#Store into variable named hotel_df.
hotel_df= ideal_cond_df[["City", "Latitude", "Longitude"]].copy()

#Add a "Hotel Name" column to the DataFrame.
hotel_df['Hotel Name'] = ""

hotel_df.head()

               City  Latitude  Longitude Hotel Name
116         Bubaque   11.2833   -15.8333
144  Kulhudhuffushi    6.6221    73.0700
187         Mareeba  -17.0000   145.4333
239         Kahului   20.8947  -156.4700
290  Cap Malheureux  -19.9842    57.6142

In [26]:
#Set parameters to search for hotels with 5000 meters.
params = {
    
    "type": "hotel",
    "radius": 5000,
    "key": "AIzaSyAsEngxGyNHAoKD0PTsa7rQKuHugWJqHD8"
}

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    

#Hit the Google Places API for each city's coordinates.

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    nearby_hotels = requests.get(base_url, params).json()


#Store the first Hotel result into the DataFrame.
    try:
        hotel_df.loc[index, "Hotel Name"] = nearby_hotels["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

                        City  Latitude  Longitude      Hotel Name
116                  Bubaque   11.2833   -15.8333         Bubaque
144           Kulhudhuffushi    6.6221    73.0700  Kulhudhuffushi
187                  Mareeba  -17.0000   145.4333         Mareeba
239                  Kahului   20.8947  -156.4700         Kahului
290           Cap Malheureux  -19.9842    57.6142      Grand Baie
444  Gizo Government Station   -8.1030   156.8419            Gizo
492              Grand Gaube  -20.0064    57.6608       Goodlands
533               Mahibadhoo    3.7833    72.9667         Omadhoo

In [ ]:
#Plot markers on top of the heatmap.

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [28]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))